<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý chuẩn của các học phần</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav id="navbar">
        <div id="avatar-container">
            <div>
                <img id="avatar" src="/public/images/avatar.png">
                <div>
                    <a href=""><p style="margin-bottom: 5px; font-weight: bold; font-size: 17px;"><%= hoten %></p></a>
                    <% if(admin){%>
                        <p>Quản trị viên</p>
                    <% } %>
                </div>
            </div>

            <div id="logout-container">
                <a id="logout-button" href="/logout">
                    <span>Đăng xuất</span>
                    <img src="/public/images/logout.png">
                </a>
            </div>
        </div>
        <hr>
        <ul>
            <!-- <li><a href="/">Trang chủ</a></li> -->
            <li><a href="/lophocphan">Lớp học phần</a></li>
            
            <li><a href="/hocphan" class="active">Chuẩn của các học phần</a></li>
            <li><a href="/chuandaura">Chuẩn đầu ra</a></li>
            <% if(admin){%>
            <li><a href="/nguoidung">Người dùng</a></li>
            <% } %>
        </ul>
    </nav>
    <main>
        <h2 id="title">Danh sách học phần</h2>
        <br>
        <% if (data.rowCount > 0) { %>
            <table id="list">
                <tr>
                    <th>Mã học phần</th>
                    <th>Tên học phần</th>
                    <th>Hành động</th>
                </tr>
            <% data.rows.forEach((hocphan) => { %>
                <tr>
                <td><%= hocphan.mahocphan %></td>
                <td><%= hocphan.tenhocphan %></td>
                <td><a href="/hocphan/<%= hocphan.mahocphan %>" class="greenbg">Xem chuẩn đầu ra</a></td>
                </tr>
            <% }) %>
            </table>
        <% }else{ %>
            <p style="text-align: center;">Không có học phần nào để hiển thị</p>
        <% } %>
    </main>
</body>
</html>