<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Xin chào <%= fullname %></h1>
    <a href="/lophocphan">Quản lý lớp học phần</a><br>
    <a href="/hocphan">Quản lý chuẩn của các học phần</a>
</body>
</html>