*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto, sans-serif;
}

#navbar{
    background-color: rgb(0, 109, 218);
    color: #fff;
    height: 100vh;
    position: fixed;
    padding: 5px;
    width: 240px;
}

#navbar ul{
    list-style: none;
    padding-top: 10px;
}

#navbar li{
    padding: 5px;
}

#navbar a{
    text-decoration: none;
    color: #fff;
}

#navbar ul a{
    padding: 10px;
    display: block;
    border-radius: 5px;
}

#navbar ul a.active{
    padding: 10px;
    display: block;
    border-radius: 5px;
    background-color: rgba(70, 162, 255, 0.89);
}

#navbar a:hover{
    background-color: rgba(70, 162, 255, 0.89);
}

#avatar{
    width: 50px;
    margin-right: 10px;
}

#avatar-container{
    padding: 5px;
}

#avatar-container > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#logout-container{
    display: flex;
}

#logout-button{
    display: flex;
    padding: 10px;
    margin-left: 50px;
    align-items: center;
    border-radius: 5px;
}

#logout-button:hover{
    background-color: rgba(70, 162, 255, 0.89);
}

#logout-button img{
    width: 20px;
    margin-left: 5px;
}

main{
    margin-left: 260px;
}

main #title{
    padding: 15px 0;
    border-bottom: 1px solid silver;
}

/*Table List*/
main #list{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

#list td, th{
    text-align: left;
    padding: 5px 10px;
}

#list a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

#list tr:nth-child(even){
    background-color: rgb(169, 210, 250);
}

#list tr:nth-child(odd){
    background-color: rgb(181, 228, 255);
}

#list tr:first-child{
    background-color: rgb(190, 190, 190);
}

#list input{
    padding: 5px;
    font-size: 16px;
}

#hockytitle {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

main #tylechuan{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

#tylechuan td, th{
    text-align: left;
    padding: 5px 10px;
}

#tylechuan a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

#tylechuan tr:nth-child(even){
    background-color: rgb(169, 210, 250);
}

#tylechuan tr:nth-child(odd){
    background-color: rgb(181, 228, 255);
}

#tylechuan tr:first-child{
    background-color: rgb(190, 190, 190);
}

#tylechuan input{
    padding: 5px;
    font-size: 16px;
}

/* Button backgrouund */
a.redbg{
    background-color: rgb(255, 66, 66);
}

a.redbg:hover{
    background-color: rgb(197, 0, 0);
    cursor: pointer;
}

a.yellowbg{
    background-color: rgb(233, 211, 15);
}

a.yellowbg:hover{
    background-color: rgb(163, 148, 9);
    cursor: pointer;
}

a.greenbg{
    background-color: rgb(36, 214, 66);
}

a.greenbg:hover{
    background-color: rgb(10, 153, 34);
    cursor: pointer;
}

/*Column width Lop hoc phan list*/
.col1{
    width: 15%;
}

.col2{
    width: 45%;
}

.col3{
    width: 65%;
}

.col4{
    width: 30%;
}

/*Insert, Search Bar*/
#insertbuttoncontainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#insertbuttoncontainer button{
    font-size: 16px;
    background-color: rgb(36, 214, 66);
    border: none;
    padding: 7px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#insertbuttoncontainer button:hover{
    background-color: rgb(10, 153, 34);
}

#insertbuttoncontainer input{
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    width: 250px;
}

#searchcontainer{
    margin-left: 40px;
}

#insertbuttoncontainer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px;
    margin-left: 30px;
    border-radius: 5px;
}

/*Form Modal*/
#formbackground{
    background-color: rgba(29, 29, 29, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#center{
    display: flex;
    justify-content: center;
}

#formcontainer{
    background-color: #fff;
    margin-top: 30px;
    border-radius: 5px;
}

#formcontainer #formtitle{
    background-color: rgb(0, 109, 218);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#formcontainer .forminput{
    padding: 5px;
    font-size: 16px;
    width: 300px;
}

#formtable{
    padding: 10px;
}

#formtable td{
    padding: 10px;
}

#formtable select{
    padding: 5px;
    font-size: 16px;
}

.formbutton{
    font-size: 16px;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/*Error*/
.error{
    color: red;
    padding-top: 5px;
}

/*Search result*/
.searchresult{
    width: 300px;
    position: absolute;
    top: 45px;
    left: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 10px grey;
}

.searchitem{
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchitem:hover{
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgb(163, 163, 163);
    cursor: pointer;
}

.canvasjs-chart-credit{
    display: none;
}

.canvasjs-chart-toolbar{
    display: none;
}

#tongsodiem{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px silver;
    margin-bottom: 10px;
}

#tongsodiem h2{
    display: inline-block;
}

/*Login*/
#loginbody{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 29, 29, 0.4);
    z-index: -1;
}

#loginbody #center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginbody #title{
    text-align: center;
    color: #fff;
    padding: 50px;
    /* background-color: rgb(42, 148, 255); */
}

#loginbody #form{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 70px;
    padding: 20px;
}

#loginbody #form input{
    font-size: 16px;
    padding: 7px;
}

#loginbody #form td{
    padding: 7px;
}

#loginbody #form h1{
    text-align: center;
    margin-bottom: 20px;
}

#loginbody #form button{
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color: rgb(29, 108, 255);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

#loginbody #form button:hover{
    background-color: rgb(5, 78, 212);
}